<h2>Find Favourite Language</h2>

<form action="/search" method="get">
  <fieldset>
    <label for="username">GitHub username:</label>
    <input id="username" name="name" type="text"/>

    <button type="submit">Search</button>
  </fieldset>
</form>
