<h2>Find Favourite Language</h2>

<form action="/search" method="get">
  <fieldset>
    <label for="username">GitHub username:</label>
    <input id="username" name="name" type="text"/>

    <button type="submit">Search</button>
  </fieldset>
</form>


This is a ruby test by Ian Vaughan, the code can be found on my <a href="https://github.com/IanVaughan/gh_find_fav_lang">GitHub account</a>
