---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/ianvaughan/repos
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1375214228'
      Last-Modified:
      - Sun, 28 Jul 2013 19:18:58 GMT
      Etag:
      - '"de45f1b8cbe08b4ee61152ed150aead3"'
      X-Github-Media-Type:
      - github.beta; format=json
      Link:
      - <https://api.github.com/user/158600/repos?page=2>; rel="next", <https://api.github.com/user/158600/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":4329913,"name":"app_conf","full_name":"IanVaughan/app_conf","owner":{"login":"IanVaughan","id":158600,"avatar_url":"https://secure.gravatar.com/avatar/13ebb34ff0ab93713739df64e923bd87?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"13ebb34ff0ab93713739df64e923bd87","url":"https://api.github.com/users/IanVaughan","html_url":"https://github.com/IanVaughan","followers_url":"https://api.github.com/users/IanVaughan/followers","following_url":"https://api.github.com/users/IanVaughan/following{/other_user}","gists_url":"https://api.github.com/users/IanVaughan/gists{/gist_id}","starred_url":"https://api.github.com/users/IanVaughan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/IanVaughan/subscriptions","organizations_url":"https://api.github.com/users/IanVaughan/orgs","repos_url":"https://api.github.com/users/IanVaughan/repos","events_url":"https://api.github.com/users/IanVaughan/events{/privacy}","received_events_url":"https://api.github.com/users/IanVaughan/received_events","type":"User"},"private":false,"html_url":"https://github.com/IanVaughan/app_conf","description":"Simplest
        YAML Backed Application Wide Configuration (AppConfig)","fork":true,"url":"https://api.github.com/repos/IanVaughan/app_conf","forks_url":"https://api.github.com/repos/IanVaughan/app_conf/forks","keys_url":"https://api.github.com/repos/IanVaughan/app_conf/keys{/key_id}","collaborators_url":"https://api.github.com/repos/IanVaughan/app_conf/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/IanVaughan/app_conf/teams","hooks_url":"https://api.github.com/repos/IanVaughan/app_conf/hooks","issue_events_url":"https://api.github.com/repos/IanVaughan/app_conf/issues/events{/number}","events_url":"https://api.github.com/repos/IanVaughan/app_conf/events","assignees_url":"https://api.github.com/repos/IanVaughan/app_conf/assignees{/user}","branches_url":"https://api.github.com/repos/IanVaughan/app_conf/branches{/branch}","tags_url":"https://api.github.com/repos/IanVaughan/app_conf/tags","blobs_url":"https://api.github.com/repos/IanVaughan/app_conf/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/IanVaughan/app_conf/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/IanVaughan/app_conf/git/refs{/sha}","trees_url":"https://api.github.com/repos/IanVaughan/app_conf/git/trees{/sha}","statuses_url":"https://api.github.com/repos/IanVaughan/app_conf/statuses/{sha}","languages_url":"https://api.github.com/repos/IanVaughan/app_conf/languages","stargazers_url":"https://api.github.com/repos/IanVaughan/app_conf/stargazers","contributors_url":"https://api.github.com/repos/IanVaughan/app_conf/contributors","subscribers_url":"https://api.github.com/repos/IanVaughan/app_conf/subscribers","subscription_url":"https://api.github.com/repos/IanVaughan/app_conf/subscription","commits_url":"https://api.github.com/repos/IanVaughan/app_conf/commits{/sha}","git_commits_url":"https://api.github.com/repos/IanVaughan/app_conf/git/commits{/sha}","comments_url":"https://api.github.com/repos/IanVaughan/app_conf/comments{/number}","issue_comment_url":"https://api.github.com/repos/IanVaughan/app_conf/issues/comments/{number}","contents_url":"https://api.github.com/repos/IanVaughan/app_conf/contents/{+path}","compare_url":"https://api.github.com/repos/IanVaughan/app_conf/compare/{base}...{head}","merges_url":"https://api.github.com/repos/IanVaughan/app_conf/merges","archive_url":"https://api.github.com/repos/IanVaughan/app_conf/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/IanVaughan/app_conf/downloads","issues_url":"https://api.github.com/repos/IanVaughan/app_conf/issues{/number}","pulls_url":"https://api.github.com/repos/IanVaughan/app_conf/pulls{/number}","milestones_url":"https://api.github.com/repos/IanVaughan/app_conf/milestones{/number}","notifications_url":"https://api.github.com/repos/IanVaughan/app_conf/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/IanVaughan/app_conf/labels{/name}","created_at":"2012-05-14T22:50:09Z","updated_at":"2013-06-07T20:15:21Z","pushed_at":"2013-01-20T19:29:52Z","git_url":"git://github.com/IanVaughan/app_conf.git","ssh_url":"git@github.com:IanVaughan/app_conf.git","clone_url":"https://github.com/IanVaughan/app_conf.git","svn_url":"https://github.com/IanVaughan/app_conf","homepage":"","size":120,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"master_branch":"master","default_branch":"master"},{"id":4140824,"name":"console_tweet","full_name":"IanVaughan/console_tweet","owner":{"login":"IanVaughan","id":158600,"avatar_url":"https://secure.gravatar.com/avatar/13ebb34ff0ab93713739df64e923bd87?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"13ebb34ff0ab93713739df64e923bd87","url":"https://api.github.com/users/IanVaughan","html_url":"https://github.com/IanVaughan","followers_url":"https://api.github.com/users/IanVaughan/f[...]
